
@font-face {
	font-family: Montserrat Ultra Light;
	src: url(../public/fonts/Montserrat-UltraLight.otf);
	font-weight: normal;
}

	div#intro {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
	}

 img#background {
	 /*background-image: url("hero.jpg");*/
	 background-position: center 0%;
   background-repeat: no-repeat;
	 height: 815px;
	 width: 100%;
	 position: absolute;
	 z-index: -1;
	 opacity: .6;
 }

#misc-info {
	position: relative;
}

@media (min-width:961px) {

}
img.map-background {
	background-repeat: no-repeat;
	display: inline-block;
	z-index: -1;
	width: 50.45%;
	opacity: .4;
}

span.title {
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    font-weight: 700;
}

 div#header {
  width: 464px;
  height: 164px;
  display: block;
  padding-bottom: 200px;
  margin: 0 auto
 }

 div#navbar span{
   margin-right: 40px
 }

 div#navbar {
   text-align: center;
 }

 div#navbar a{
   font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   color: #333333;
   letter-spacing: 2px;
   text-decoration: none;
 }
.navbar-border {
    border: none;
}
 div.hakata-navbar {
    padding-top: 45px;
    border-color: white;
 }

div#navbar-body {
	background-color: white;
	max-width: 1440px;
	margin: 0 auto;
	padding-bottom: 53px;
 }

div#greeting {
  /*height: 595px;*/
	/*position: relative;*/
  /*background-image: url("../public/assets/hero.jpg");
  background-position: 227px -186px;
  backgrofund-repeat: no-repeat;*/
}

div#greeting .greeting{
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding: 193px;
  position: relative;
}

div#greeting .greeting-title {
  font-family: Montserrat Ultra Light;
  font-size: 50px;
}

div#greeting .greeting-body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 50px;
}

div#greeting .menu-link, a {
  font-family: 'Montserrat',sans-serif;
  margin-top: 55px;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: underline;
}

div#greeting a {
  border: 1px solid;
  padding: 20px 60px;
}

div#greeting a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  background-color: black;
}

 /*#background-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 660px;
  background: #dad7c8 no-repeat center top;
  background-size: cover;
  overflow: visible;
 }*/


.sticky {
  border: 1px solid #CCCCCC;
  cursor: pointer;
  marginLeft: 15px;
  marginRight: 15px;
}

div.menu {
    margin-top: -20px;
    max-width: 970px;
    margin: 0 auto;
    padding-left: 50px;
}

span.menu-item-name {
    width: 50%;
    display: inline-block;
    text-align: left;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

p.menu-item {
    width: 50%;
    display: inline-block;
    padding-right: 30px;
    padding-left: 20px
}

span.menu-price {
    width: 50%;
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

span.menu-item-description {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

 .menu-wrapper {
   margin: 0 auto;
   text-align: center;
 }

span.menu-title {
  letter-spacing: 5px;
  font-size: 30px;
  font-family: Montserrat Ultra Light;
}

span.menu-download {
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  color: #999999
}

 div.menu-body {
   padding-top: 60px;
   max-width: 1440px;
   margin: 0 auto;
   background-color: white;
 }

 #navbar {
   margin: 0 auto;
 }

 .misc-info div{
   /*height: 630px;
   padding: 10px;*/
 }

 #misc-info {
   margin: 0 auto;
   max-width: 1440px;
 }

div.location {
	position: absolute;
	text-align: center;
	top: 40%;
	left: 8%;
	width: 50%;
}

.location-name {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #FFFFFF;
  line-height: 20px;
	font-weight: 900;
}

.location-address {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #FEFEFE;
  line-height: 20px;
}

div.location a{
	color: #FEFEFE
}

div.hours {
    padding-bottom: 35px;
}

 img.contact-background {
	display: inline-block;
	z-index: -1;
	width: 49.5%;
 }

div.contact {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 50%;
	text-align: center;
	color: #FFFFFF;
	font-family: Montserrat,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

 #targets {
   margin-top: 35px
 }

 #sticky {
    padding: 0.5ex;
    width: 600px;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

div.tabs {
    height: 620px;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
}
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: auto;
  margin-bottom: 80px;
}
.tabs-menu-item {
  float: left;

}
.tabs-menu-item a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 0 15px;
  color: #333;
}
.tabs-menu-item:not(.is-active) a:hover {
  text-decoration: underline;
}
.tabs-menu-item.is-active a {
  background: #fff;
  border-bottom: 0;
  color: #333;
  text-decoration: underline;
}
.tabs-panel {
  display: none;
  padding: 30px;
}
.tabs-panel.is-active {
  display: block;
}

#seo {
	height: 190px;
	background-color: black;
  opacity: .9;
	max-width: 1440px;
	margin: 0 auto;
	margin-bottom: 100px;
}

#about-info {
	position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

img.about-background {
  height: 440px;
  width: 100%;
  position: absolute;
  opacity: .4;
  z-index: -1;
}

.about-text {
	margin: 0 auto;
	padding-top: 110px;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
	color: #FFFFFF;
	max-width: 770px;
}

div.show-mobile {
    display: none;
}

div.show-nav {
    display: initial;
}

@media (max-width:760px) {

    div#greeting .greeting {
        color: #FFF;
        letter-spacing: 2px;
        text-align: center;
        height: 500px;
        margin: 0 auto;
        position: relative;
        padding: initial;
    }

    div.greeting-container {
        padding-top: 120px;
    }

    select.tabs-menu {
        background-color: white;
        width: 210px;
        height: 40px;
        padding-left: 20px;
        font-family: 'Work Sans', sans-serif;
    }


    div.navbar-header {
        margin: 0 auto;
        text-align: center;
        font-family: Montserrat,sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding: 20px;
        background-color: white;
    }

    div.show-mobile {
        display: initial;
    }

    div.show-nav {
        display: none;
    }

    p.menu-item {
        width: 100%;
        display: inline-block;
        padding-right: 30px;
        padding-left: 20px;
    }

	img.contact-background {
	 	display: block;
		width: 100%;
	 	z-index: -1;
  }
	img.map-background {
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		z-index: -1;
		opacity: .4;
	}

	div.contact {
		top: 30%;
		text-align: center;
		color: #FFFFFF;
		font-family: Montserrat,sans-serif;
	}

	div.location {
    text-align: center;
    left: 0%;
    width: 100%;
    top: 21%;
	}

	.location-name {
	  font-size: 16px;
	  font-family: 'Work Sans', sans-serif;
	  color: #FFFFFF;
	  line-height: 20px;
		font-weight: 900;
	}

	.location-address {
	  font-size: 16px;
	  font-family: 'Work Sans', sans-serif;
	  color: #FEFEFE;
	  line-height: 20px;
	}

	div.location a{
		color: #FEFEFE
	}

	div.contact {
		margin-top: 45%;
		left: 23%;
	}
}
